<?xml version="1.0" encoding="utf-8"?><routes><route team="Tonathiu" cost="0.0" cities="4"><city id="0" nome="campo base"></city><city id="6" nome="Tenochtitlan"></city><city id="10" nome="Quirigua"></city><city id="12" nome="Rovine Perdute"></city></route><route team="Metztli" cost="0.0" cities="4"><city id="0" nome="campo base"></city><city id="6" nome="Tenochtitlan"></city><city id="10" nome="Quirigua"></city><city id="12" nome="Rovine Perdute"></city></route></routes>